 
 h1{
     text-align: center;
     color: black 
 
 }
   
  
 table{
     width:100%;
     border: 1px solid blue;
     text-align: center;
 }


 td{
     color:blue;
     border: 1px solid green;
     font-size: 1.2em;
 } 
 input{
     width:95%;

 }
#bouton_ajouter{
    text-align: center;

    font-size: 30px;
}
#liste_boutons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
