h1{ 
     
     
text-align: center; 
color: black;

}
 
 
.body{ 
     
     
     
background-color: azure; 
     
     

} 
 
 
 
#bouton_ajouter
    font-size: 30px;
}
#liste_boutons{
    
    flex-direction: row;
    justify-content: space-around;
}
 
 
